################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Quan_Ly_Thu_Vien/.vs/QuanLyThuVienCNPMNC/FileContentIndex/3814f547-4258-478f-9933-689a9279c846.vsidx
/Quan_Ly_Thu_Vien/.vs/QuanLyThuVienCNPMNC/FileContentIndex/1639f62a-ca6a-4473-997f-7c5524ba874c.vsidx
/Quan_Ly_Thu_Vien/.vs/QuanLyThuVienCNPMNC/FileContentIndex/167c7228-02f4-4ad5-b220-6b255f936536.vsidx
/Quan_Ly_Thu_Vien/.vs/QuanLyThuVienCNPMNC/FileContentIndex/2fc3442d-cae1-484f-8e34-46dc11bb294d.vsidx
/Quan_Ly_Thu_Vien/.vs/QuanLyThuVienCNPMNC/FileContentIndex/46880cb6-3196-4808-8ca1-fbde2b605ac1.vsidx
/Quan_Ly_Thu_Vien/.vs/QuanLyThuVienCNPMNC/FileContentIndex/505f1c8c-cb81-4523-a4e9-e477d483b14a.vsidx
/Quan_Ly_Thu_Vien/.vs/QuanLyThuVienCNPMNC/FileContentIndex/c2588898-7d6d-4aa0-84ca-51eb7b12ccdc.vsidx
/Quan_Ly_Thu_Vien/.vs/QuanLyThuVienCNPMNC/FileContentIndex/c9064f4f-f868-4e52-8991-f69ce7b10a92.vsidx
