################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Quan_Ly_Thu_Vien/.vs/QuanLyThuVienCNPMNC/FileContentIndex/3814f547-4258-478f-9933-689a9279c846.vsidx
