
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/Content/dangnhap/icomoon/style.css">

<link rel="stylesheet" href="~/Content/dangnhap/owl.carousel.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/Content/dangnhap/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="~/Content/dangnhap/style.css">

<style>
    input::placeholder {
        color: #dbdbdb !important;
    }

    .link_SachMuonDuoc:link {
        text-decoration: none !important;
    }

    .link_SachMuonDuoc:visited {
        text-decoration: none !important;
    }

    .link_SachMuonDuoc:hover {
        text-decoration: underline !important;
        font-size:18px;
    }

    .link_SachMuonDuoc:active {
        text-decoration: underline !important;
    }
    .link_SachMuonDuoc{
        font-size:16px;
    }
</style>

@*<div class="container" id="main">

        <div class="quen-mk">
            @using (Html.BeginForm())
            {<h1>Xin Chàoooo ! </h1>
                <div class="">
                    Chào mừng bạn đến với thư viện HUFLIT
                </div>
            }
        </div>

        <div class="dang-nhap">
            @using (Html.BeginForm("DangNhap", "DangNhap"))
            {<h1>QUẢN LÝ THƯ VIỆN</h1>
                <div class="social-container">

                </div>
                <p><strong>Vui lòng sử dụng tài khoản Gmail do công ty cấp!</strong></p>
                <input type="email" name="userLogin" placeholder="Nhập tài khoản Gmail" required>
                <input type="password" name="passwordLogin" placeholder="Nhập mật khẩu" required>
                <input type="submit" value="Đăng nhập" class="btn btn-primary" />
            }
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-left">
                    <button class="fas fa-sign-in-alt" id="DangNhap"> Đăng nhập tài khoản</button>
                </div>
                <div class="overlay-right">
                    <button id="Quenmk">Về chúng tôiii  &#10084;</button>
                </div>
            </div>
        </div>
    </div>*@


<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/images/huflit-co-so-dao-tao.jpg');"></div>
    <div class="contents order-2 order-md-1">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <h3>Đăng nhập vào hệ thống <br /><strong>Quản lý thư viện</strong></h3>
                    <p class="mb-4">Phần mềm quản lý thư viện HUFLIT </p>
                    <form class="mb-3" action="#" method="post">
                        @using (Html.BeginForm("DangNhap", "DangNhap"))
                        {
                            <div class="form-group first">
                                <label for="username">Tài khoản</label>
                                <input type="email" class="form-control" name="userLogin" placeholder="Email@gmail.com" required id="username">
                            </div>
                            <div class="form-group last mb-3">
                                <label for="password">Mật khẩu</label>
                                <input type="password" class="form-control" name="passwordLogin" placeholder="Mật khẩu của bạn" required id="password">
                            </div>
                            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                        }
                    </form>
                    <a href="@Url.Action("Index","KhachHang")" class="link_SachMuonDuoc">Xem sách có thể mượn ở đây !!</a>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/dangnhap/jquery-3.3.1.min.js"></script>
<script src="~/Content/dangnhap/popper.min.js"></script>
<script src="~/Content/dangnhap/bootstrap.min.js"></script>
<script src="~/Content/dangnhap/main.js"></script>

@*<script>
    const pass_field = document.querySelector('.pass-key');
    const showBtn = document.querySelector('.show');
    showBtn.addEventListener('click', function () {
        if (pass_field.type === "password") {
            pass_field.type = "text";
            showBtn.textContent = "HIDE";
            showBtn.style.color = "#3498db";
        } else {
            pass_field.type = "password";
            showBtn.textContent = "SHOW";
            showBtn.style.color = "#222";
        }
    });
</script>*@











@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
