<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phần mềm quản lý thư viện</title>
    <link rel="icon" href="~/images/logo-HUFLIT.png" type="image/x-icon">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--Sweet Alert-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>


    <style>
/* --- Thanh nav --- */
        .navbar {
            transition: 0.4s;
        }

            .navbar.scrolled {
                letter-spacing: 3px;
                font-size: 20px;
                text-transform: uppercase;
                background-color: var(--bg) !important;
                border-bottom: var(--border) !important;
                transition: border-bottom background-color 400ms linear;
                background: rgb(0 0 0 / 90%);
                background: rgba(0, 0, 0, 0.2);
            }

            .navbar:hover {
                background-color: rgb(0 0 0 / 90%) !important;
                background: rgba(0, 0, 0);
            }

        .nav-link {
            font-weight: 700;
        }
        /*--- Bo cuc chinh --- */
        #div-top {
        }

        #div-main {
            margin-bottom: 100px;
        }

        #div-footer {
            margin-bottom: 100px !important;
            padding: 50px;
            width: 75%;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin-top: 50px;
        }
        /* --- Phan Hoi Y Kien --- */

        /* - - - - - RATINGS */
        .rating {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 180px;
            height: 50px;
            padding: 8px 12px;
            margin: auto;
            margin-bottom: 20px;
            border-radius: 30px;
            background: #FFF;
            display: block;
            overflow: hidden;
            box-shadow: 0 1px #CCC, 0 5px #DDD, 0 9px 6px -3px #999;
            unicode-bidi: bidi-override;
            direction: rtl;
        }

            .rating:not(:checked) > input {
                display: none;
            }

        /* - - - - - RATE */


        #rate:not(:checked) > label {
            cursor: pointer;
            float: right;
            width: 30px;
            height: 30px;
            display: block;
            color: rgba(0, 135, 211, .4);
            line-height: 33px;
            text-align: center;
        }

            #rate:not(:checked) > label:hover,
            #rate:not(:checked) > label:hover ~ label {
                color: rgba(0, 135, 211, .6);
            }

        #rate > input:checked + label:hover,
        #rate > input:checked + label:hover ~ label,
        #rate > input:checked ~ label:hover,
        #rate > input:checked ~ label:hover ~ label,
        #rate > label:hover ~ input:checked ~ label {
            color: rgba(0, 135, 211, .8);
        }

        #rate > input:checked ~ label {
            color: rgb(0, 135, 211);
        }
       
        .fa-solid, .fas {
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            font-size: 25px;
        }

        .button_GuiPhanHoi {
            background-color: #008CBA; /* Green */
            border: 2px solid #008CBA;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition: 0.4s;
            cursor: pointer;
        }

            .button_GuiPhanHoi:hover {
                background-color: white;
                color: black;
                border: 2px solid #008CBA;
                border-radius: 10px;
            }
        /* Custom background đầu */
        .home {
            /* The image used */
            background-image: url("/images/bg_Tracuu.jpg");
            /* Full height */
            min-height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: justify;
            /* Center and scale the image nicely */
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            backface-visibility: hidden;
            /* Add the blur effect
        filter: blur(1px);
        -webkit-filter: blur(1px);*/
            /* Apply red color overlay */
        }

        @* .bg-text {
            background-color: lightcyan;
            color: black;
            font-weight: bold;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 50%;
            padding: 20px;
            padding-left: 0px;
            text-align: center;
        }

        *@
        /* Custom danh mục sách */
        #img_sach {
            width: 80%;
            display: block;
            margin: auto;
        }

        .box_img {
            width: 90%;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            padding: 20px;
            margin-left: 50px;
            margin-top: 50px;
        }

        .Name_sach {
            font-size: 18px;
            color: black;
            font-weight: bold;
        }

        .Cate_sach {
            font-size: 16px;
            color: black;
            opacity: 0.5;
        }

        #sreachInput_search {
            border: 1px solid black;
            height: 70px;
            border-radius: 30px;
        }

            #sreachInput_search:focus,
            #sreachInput_search:valid {
                font-size: 25px; /* Kích thước font chữ khi ô input được focus hoặc có giá trị hợp lệ */
                padding: 30px;
            }

        #btnSearch_search {
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
            height: 70px;
            border-radius: 30px;
        }
    </style>
</head>
<body>
    <div id="div-top">
        <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark" id="myNavbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index","KhachHang")">
                    <img style="margin-left:10px; width: 45px; height: 45px; " src="~/images/logo-HUFLIT.png" alt="Logo HUFLIT">
                </a>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","KhachHang")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("DangNhap","DangNhap")">Log in</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
    <div id="div-main">
        @RenderBody()
    </div>
    <hr class="w-75 m-auto" />

    <div class="m-auto" id="div-footer">
        <h1 class="text-center mt-2 mb-5">Phản hồi ý kiến</h1>

        <div class="form-horizontal">

            <div class="form-group m-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa-solid fa-user "></i>
                        </span>
                    </div>
                    <input class="form-control small-text" id="hoten" type="text" placeholder="Nhập họ tên..." required />
                </div>
            </div>
            <div class="form-group m-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa-solid fa-phone"></i>
                        </span>
                    </div>
                    <input class="form-control small-text" type="text" id="dienthoai" placeholder="Nhập số điện thoại..." pattern="[0-9]{10,11}" title="Vui lòng nhập đúng số điện thoại" required />
                </div>
            </div>
            <div class="form-group m-5">
                <div class="input-group">
                    <textarea class="small-text" style="width:100%" rows="5" id="phanhoi" placeholder="Nhập ý kiến..."></textarea>
                </div>
            </div>
            <!-- Star ranting-->
            <div id="rate" class="rating">
                <!-- FIFTH STAR -->
                <input type="radio" id="star_5" name="rate" value="5" />
                <label for="star_5" title="Five">&#9733;</label>
                <!-- FOURTH STAR -->
                <input type="radio" id="star_4" name="rate" value="4" />
                <label for="star_4" title="Four">&#9733;</label>
                <!-- THIRD STAR -->
                <input type="radio" id="star_3" name="rate" value="3" />
                <label for="star_3" title="Three">&#9733;</label>
                <!-- SECOND STAR -->
                <input type="radio" id="star_2" name="rate" value="2" />
                <label for="star_2" title="Two">&#9733;</label>
                <!-- FIRST STAR -->
                <input type="radio" id="star_1" name="rate" value="1" />
                <label for="star_1" title="One">&#9733;</label>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-12 text-center">
                    <button class="sub-menu-item button_GuiPhanHoi button1 mt-5" onclick="ConfirmGuiPhanHoi();">
                        Gửi phản hồi
                    </button>
                </div>
            </div>
        </div>

    </div>


    <!-- jQuery -->
    <script src="~/Content/admin/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/admin/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script>

        // Header Animation, transparents to color
        window.addEventListener('scroll', function () {
            var navbar = document.getElementById('myNavbar');
            if (window.scrollY > 0) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });

    </script>

    <script>
        function ConfirmGuiPhanHoi() {
            Swal.fire({
                title: 'Xác nhận gửi !!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonColor: 'Không, Hủy bỏ!!',
                confirmButtonText: 'OKayy!!',
                reverseButtons: true

            }).then((result) => {
                if (result.isConfirmed) {
                    if ($("#hoten").val() == "") {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Vui lòng nhập họ tên'
                        });
                    }
                    else if ($("#dienthoai").val() == "" || !/^(\d{10,11})$/.test($("#dienthoai").val())) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Vui lòng nhập đúng số điện thoại'
                        });
                    }
                    else if ($("#phanhoi").val() == "") {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Vui lòng nhập phản hồi'
                        });
                    }
                    else {
                        Swal.fire(
                            'Thành Công!!',
                            'Gửi phản hồi thành công !!!',
                            'success'
                        )
                        setTimeout(function () { location.reload() }, 50000);
                        return true;
                    }
                }
            });

            return false; // Ngăn chặn hành vi mặc định của liên kết
        }
    </script>

</body>
</html>
