@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library of HUFLIT</title>
    <link rel="icon" href="~/images/logo-HUFLIT.png" type="image/x-icon">


</head>
<body>



    @RenderBody()


</body>
</html>
<!-- LOGIN -->
<script type="text/javascript">
    const QuenmkButton = document.getElementById('Quenmk');
    const DangNhapButton = document.getElementById('DangNhap');
    const main = document.getElementById('main');

    QuenmkButton.addEventListener('click', () => {
        main.classList.add("right-panel-active")
    });
    DangNhapButton.addEventListener('click', () => {
        main.classList.remove("right-panel-active")
    });
</script>