<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://duythong25-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5131.site4now.net:8172/MsDeploy.axd?site=duythong25-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>duythong25-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>duythong25-001</UserName>
    <_SavePWD>false</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Quan_Ly_Thu_VienEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5105.site4now.net;Initial Catalog=db_a99170_login;User ID=db_a99170_login_admin;Password=Duythong_25" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="QuanLyThuVienCNPMNC.Models.Quan_Ly_Thu_VienEntities, QuanLyThuVienCNPMNC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Quan_Ly_Thu_VienEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5105.site4now.net;Initial Catalog=db_a99170_login;User ID=db_a99170_login_admin;Password=Duythong_25"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>